
<div class="col-md-12">
  <div class="row">

    <div class="col-md-5 col-md-offset-4">
      <p>The app has two functionnalities:</p>
      <ul>
       <li>Taking a snapshot with the client wabcam and detecting the faces</li>
       <li>Detecting faces live on the client webcam feed</li>
      </ul>
    </div>

  </div>

  <div class="row" style="text-align: center;">
    <div class="col-md-6">
      <div class="row">
        <h2>Live face detection</h2>
        <a href="/#!/live-detection" class="btn btn-success">Try live face detection</a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <h2>Static detection</h2>
        <a href="/#!/static-detection" class="btn btn-success">Try static detection</a>
      </div>
    </div>
  </div>


</div>
